@use '@no-comply/standard-ui/scss/mixins/color.scss' as *;

@layer app {
  .Ruler {
    position: relative;
    border-block-end: solid var(--border-width-thin);
    border-radius: var(--radius-s);
    height: var(--scale-xs);

    user-select: none;

    @include set-color(__fg, primary, fg-disabled, opaque);
    @include set-color(__bg, graphics-1, bg-2, opaque);
    @include set-color(__border, graphics-1, border-muted, opaque);
    @include set-color(__tick, graphics-1, border-1, opaque);

    @include set-color(__marker-fg, primary, fg-muted, opaque);
    @include set-color(__marker-bg, primary, bg-2, transparent);
    @include set-color(__marker-tick, primary, fg-muted, opaque);

    @include apply-color(color, __fg);
    @include apply-color(background-color, __bg);
    @include apply-color(border-color, __border);
  }

  .ticks {
    position: absolute;
    inset-inline: 0;
    bottom: 0px;
    overflow: hidden;
  }

  .tick {
    flex: 0 0 var(--__ruler-size);

    &::before {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      height: var(--scale-4xs);
      border-inline-start: solid 1px;

      @include apply-color(border-color, __tick);
    }

    span {
      display: block;
      position: relative;
      width: var(--__ruler-size);
      margin-left: calc(var(--__ruler-size) / -2);
      text-align: center;
    }
  }

  .markers {
    position: absolute;
    inset: 0;
  }

  .marker {
    position: absolute;
    height: 100%;
    transform: translateX(-50%);
    padding: var(--space-pad--2) var(--space-pad-0);
    display: block;
    min-width: max-content;

    @include apply-color(color, __marker-fg);
    @include apply-color(background-color, __marker-bg);

    &::before {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
      border: 6px solid transparent;

      @include apply-color(border-top-color, __marker-tick);
    }

    span {
      display: block;
      line-height: 1;
    }
  }
}
