@use '@no-comply/standard-ui/scss/mixins/color.scss' as *;

@layer app {
  .ShowSpace {
    border-style: solid;
    border-width: var(--border-width-thin);
    border-radius: var(--radius-s);
    @include set-color(__border, graphics-2, bg-3, opaque);

    @include apply-color(border-color, __border);
  }

  .viz {
    @include set-color(__bg, graphics-2, graphics, opaque);

    @include apply-color(background-color, __bg);
  }

  .mode-square .viz {
    width: var(--__size);
    height: var(--__size);
  }

  .mode-h .viz {
    width: var(--__size);
    height: var(--scale-s);
  }

  .mode-v .viz {
    height: var(--__size);
    width: var(--scale-s);
  }
}
