@layer standard-ui-sandbox {
    @layer components {
        .SidebarNav {
            height: 100%;
            overflow-y: auto;

            [data-nav-link-current]::before {
                display: block;
                content: ' ';
                position: absolute;
                background-color: --f-color(var(--c-name-brand), var(--c-level-bg-3));
                left: 0;
                width: 0.5em;
                height: 1em;
            }
        }
    }
}
