@layer standard-ui-sandbox {
    @layer screens {
        .WithSidebarLayout {
            container-type: inline-size;
            container-name: WithSidebarLayout;
            display: block;
            height: 100%;
        }

        .WithSidebarLayoutWrapper {
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            height: 100%;
            container-name: WithSidebarLayoutWrapper;
            --WithSidebarLayout-size: small;
        }

        @container WithSidebarLayout (min-width: 600px) {
            .WithSidebarLayoutWrapper {
                --WithSidebarLayout-size: large;
            }
        }

        .WithSidebarLayout-contain {
            position: relative;
            overflow: hidden;
        }

        .WithSidebarLayout--Sidebar {
            position: absolute;
            top: 0;
            left: 0;
            width: 250px;
            flex-shrink: 0;
            height: 100%;
            transform: translateX(-100%);
            transition: transform 0.3s ease;
            z-index: 10;
        }

        .WithSidebarLayout-is-expanded .WithSidebarLayout--Sidebar {
            transform: translateX(0);
            display: block;
        }

        .WithSidebarLayout--Contents {
            flex: 1;
            height: 100%;
        }

        :where(.WithSidebarLayout-is-expanded) .WithSidebarLayout--Contents {
            opacity: 0.5;
            filter: blur(1px);
            pointer-events: none;
        }

        @container WithSidebarLayoutWrapper style(--WithSidebarLayout-size: large) {
            .WithSidebarLayout--Sidebar {
                position: unset;
                transform: none;
                display: block;
            }

            .WithSidebarLayout--Contents {
                opacity: unset;
                filter: unset;
                pointer-events: unset;
            }
        }
    }
}
