@layer app {
  .WithSidebarLayout {
    container-type: inline-size;
    container-name: WithSidebarLayout;
    display: block;
    height: 100%;

    &[data-layout-large] .-Sidebar {
      position: unset;
      transform: none;
      display: block;
      transition: none;
    }

    &[data-layout-large] .-Contents {
      opacity: unset;
      filter: unset;
      pointer-events: unset;
    }
  }

  .-Wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 100%;
    container-name: WithSidebarLayoutWrapper;
    --size: small;
  }

  .contain {
    position: relative;
    overflow: hidden;
  }

  .-Sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    flex-shrink: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 10;
  }

  .-Contents {
    flex: 1;
    height: 100%;
    overflow: hidden;
  }

  .is-expanded {
    .-Sidebar {
      transform: translateX(0);
      display: block;
    }
    .-Contents {
      opacity: 0.5;
      filter: blur(1px);
      pointer-events: none;
    }
  }
}
