@layer standard-ui-sandbox {
    @layer components {
        .ExampleLargeHeader {
            margin-bottom: var(--scale-l);
        }

        .ExampleLargeBody {
            margin-bottom: var(--scale-l);
        }

        .ExampleLargeFooter {
            margin-bottom: var(--scale-l);
        }
    }
}
