@layer context-ui-sandbox {
    @layer reset {
        html {
            -webkit-font-smoothing: subpixel-antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-text-size-adjust: 100%;
            text-rendering: optimizeLegibility;
            font-smooth: always;
        }

        body {
            display: flex;
            align-items: flex-start;
            overflow: hidden;
            min-width: 320px;
            margin: 0;
            font-family: var(--text-type-family);
            font-size: var(--text-type-size-s);
            font-weight: var(--text-type-weight-base);
            line-height: var(--text-type-height-base);
        }

        html,
        body,
        #root {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }
}
