.ColorItem {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--space-gap-0);
    cursor: pointer;
}

.ColorItem--Size-s .ColorItem-value {
    width: var(--size-m);
    height: var(--size-m);
}

.ColorItem--Size-m .ColorItem-value {
    width: var(--size-l);
    height: var(--size-m);
}

.ColorItem--Size-l .ColorItem-value {
    width: var(--size-2xl);
    height: var(--size-m);
}

.ColorItem-value {
    padding: var(--space-padding-0);
    border: 1px solid black;
}

.ColorItem-source {
    display: flex;
    z-index: 1;
    width: max-content;
    background: var(--surface-bg);
}

.ColorItem-source p {
    margin: 0;
}
