@use '@no-comply/standard-ui/scss/mixins/color.scss' as *;

@layer app {
    .ShowColor {
        position: relative;
        font-size: var(--typography-step--1);
        color: transparent;
        width: calc(100vw / 20);
        aspect-ratio: 1;

        @include set-color(__bg, __show-color, __show-color, opaque);
        @include apply-computed-color(background-color, __show-color);

        > button {
            position: absolute;
            inset: 0;
            border: none;
            background-color: transparent;
        }
    }

    .palettes-enabled {
        @include apply-palette-color(background-color, __show-color);
    }
}
