@layer standard-ui-sandbox {
    @layer components {
        .ExampleLayoutContents {
            padding-inline: 20px;
            padding-block: 5px;
        }

        .ExampleLayoutContents + .ExampleLayoutContents {
            padding-block-start: 15px;
            padding-block-end: 10px;
        }
    }
}
