.AppSplash {
    overflow: hidden;
}

.AppSplash,
.AppSplash > .FadeIn {
    height: 100%;
}

.AppSplash--page {
    height: 100%;
    padding: 0;
    gap: var(--space-gap-4);
}

.AppSplash--page > .Flex {
    height: 100%;
}

.AppSplash--splash {
    height: 50vh;
    width: 100%;
}

.AppSplash--spinner {
    height: 20vh;
    position: relative;
    top: 40%;
    transform: scale(4);
    opacity: 0.5;
}
