@use '@no-comply/standard-ui/scss/mixins/color.scss' as *;

@layer app {
  .ExamplePreview {
    display: block;
  }

  .-Header {
    position: relative;
    z-index: 1;
    box-shadow: 0 1.5px 2px var(--__shadow-c);
  }
}
