@layer standard-ui-sandbox {
    @layer pages {
        .LayoutPage .override {
            border: 1px solid red;
        }

        .LayoutPage--StretchItem [data-demo-item-contents] {
            display: flex;
            align-items: start;
            height: 300px;
        }
    }
}
