@layer standard-ui-sandbox {
    @layer pages {
        .LayoutDemoPage .override {
            border: 1px solid red;
        }

        .LayoutDemoPage--StretchItem [data-demo-item-contents] {
            display: flex;
            align-items: start;
            height: 300px;
        }
    }
}
