@layer app {
  .ExampleLargeHeader {
    margin-bottom: var(--scale-l);
  }

  .ExampleLargeBody {
    margin-bottom: var(--scale-l);
  }

  .ExampleLargeFooter {
    margin-bottom: var(--scale-l);
  }
}
