@layer app {
    .SplashBox {
        color: hsla(var(--color-primary), var(--o-surface-fg));
        min-width: 100%;
        height: 100%;
        max-height: var(--scale-4xl);
        user-select: none;
        background-color: hsla(var(--color-brand), var(--o-surface-bg-ghost));
        box-shadow: 0px 0px 10px 3px
            hsla(var(--color-primary-hue-sat), var(--color-primary-light), var(--o-surface-shadow));
        overflow: hidden;
    }

    .logo {
        display: block;
        --icon-size: var(--scale-2xl);
        animation: splash-box-icon-shake 5s infinite;
    }

    .logo > svg {
        height: 100%;
    }
}

@media screen and (min-width: 640px) {
    .SplashBox {
        min-width: var(--scale-5xl);
        max-width: var(--scale-5xl);
        border-radius: var(--radius-xl);
    }
}

@keyframes splash-box-icon-shake {
    0% {
        opacity: 0;
        transform: translateX(-800px);
    }
    5% {
        opacity: 0.8;
        transform: translateX(-20px);
    }
    10% {
        opacity: 1;
        transform: translateX(-1px);
    }
    15% {
        transform: translateX(0px);
    }
    60% {
        opacity: 1;
        transform: translateX(0);
    }
    95% {
        opacity: 0.5;
        transform: translateX(600px);
    }
    96% {
        opacity: 0;
        transform: translateX(1000px);
    }
    100% {
        opacity: 0;
        transform: translateX(0);
    }
}
