@use '@no-comply/standard-ui/scss/mixins/color.scss' as *;

@layer app {
  .ComponentPlaygroundExample {
    display: block;
    min-height: 40vh;
  }

  @media screen and (min-width: 1200px) {
    .ComponentPlaygroundExample {
      height: 90vh;
    }
  }

  .-Header {
    position: relative;
    z-index: 1;
    box-shadow: 0 1.5px 2px var(--__shadow-c);
  }
}
