@layer standard-ui-sandbox {
    @layer components {
        .PageLayout {
            display: flex;
            height: 100%;
            overflow: hidden;

            > div:first-child {
                min-width: 260px;
                border-right: var(--surface-border-resizable);
                border-right-color: hsla(
                    var(--surface-border-resizable-color),
                    var(--o-surface-border)
                );
                overflow: auto;
            }

            > div:last-child {
                flex: 1;
                overflow: auto;
            }
        }
    }
}
