@layer reset {
  html {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-smooth: always;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #root {
    display: contents;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
