@layer standard-ui-sandbox {
    @layer components {
        .MainHeader {
            position: sticky;
            z-index: 1;
            top: 0;
            left: 0;

            > div {
                padding-inline: var(--space-pad--1);
            }
        }
    }
}
