@layer app {
    .AppMain {
        /* opacity: 0.5; */
        opacity: 1;
        transition: opacity 0.5s;
    }

    .has-focus {
        opacity: 1;
    }

    .AppMain-variant-fabulous {
        background-color: yellow;
    }

    .AppMain-variant-normal {
        background-color: red;
    }
}
